@import "./home.scss";
@import "./gameplay.scss";
@import "./search-game.css";
@import "./game-by-category.scss";

.page {
  @apply relative py-5 px-4 md:px-6 lg:pb-8 min-h-screen;
}
.pageBg {
  @apply absolute inset-0 bg-[#83ffe7] z-[-1];
  background-image: url("../../images/common/bg.svg");
  background-size: 50% auto;
  background-repeat: repeat;
}

.text-ads {
  @apply text-center text-slate-500 text-xxs font-light;
}

.text-link {
  @apply text-indigo-700/80 hover:text-indigo-700 font-semibold cursor-pointer;
}

.categoryName {
  @apply flex-1 flex items-center text-xs text-gray-900 font-semibold uppercase tracking-wide line-clamp-3;
}

.gameItem {
  @apply relative;
  container-name: gameContainer;
  container-type: size;
}

.gameName {
  @apply transition-all delay-300 text-base absolute bottom-3 inset-x-0 text-center text-white font-bold;
  bottom: 0.65rem;
  padding: 0 0.2em;
  animation: fadein 0.25s ease-in;
}

@container gameContainer (max-width: 200px) {
  .gameName {
    font-size: 0.8em;
    bottom: 0.6em;
  }
  .gameOverlay {
    background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(0, 0, 0, 0.7)
    );
  }
}
@container gameContainer (max-width: 100px) {
  .gameName {
    font-size: 0.7em;
    bottom: 0.5em;
  }
}

.gameOverlay {
  background-image: linear-gradient(
    to bottom,
    transparent 25%,
    rgba(0, 0, 0, 0.3)
  );
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(6px) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
