span.anticon:not(.custom-align) {
  vertical-align: 0.14em !important;
}

button span.anticon {
  vertical-align: 0.12em !important;
}

.ant-btn-sm span.anticon {
  vertical-align: 0 !important;
}

.inset-0 {
  @apply top-0 left-0 right-0 bottom-0;
}

.aspect-square {
  @apply relative pb-[100%];
}
